# One-off backup run, triggered by the timer next to it.
[Unit]
Description=Back up the content of berdi-racing.com

[Service]
Type=oneshot
User=pi
# Add a second argument to additionally copy to a NAS:
#   ExecStart=/home/pi/nick-blog/deploy/backup-content.sh pi@nas:/backups/website
ExecStart=/home/pi/nick-blog/deploy/backup-content.sh
